Repository rober04/lumeapp-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat(assets): added css variables, mixins and fonts
  assets/styles/driver.scss
  assets/styles/fonts.css
  assets/styles/legal.scss
  assets/styles/mixin.scss
  assets/styles/reset.scss
  assets/styles/variables.css
  assets/styles/vueTransitions.css
Due: stylelint --fix

chore(dependencies): added needed dependencies
  package-lock.json
  package.json
Due: none

feat(config): changed eslint config file from CommonJS to ES
  eslint.config.mjs
Due: none

feat(assets): added fonts to cloudflare
  assets/fonts/RoobertTRIAL-Bold.otf
  assets/fonts/RoobertTRIAL-Heavy.otf
  assets/fonts/RoobertTRIAL-Light.otf
  assets/fonts/RoobertTRIAL-Medium.otf
  assets/fonts/RoobertTRIAL-Regular.otf
  assets/fonts/RoobertTRIAL-SemiBold.otf
Due: none

feat(assets): added fonts depending on execution enviorment
  assets/styles/fonts.css
  assets/styles/fontsProduction.css
Due: stylelint --fix

refactor(config): changed which font file is used depending on execution enviorment
  nuxt.config.ts
Due: eslint --fix

feat(config): added templates for pull requests and issues
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/small-feature-request.yml
  .github/pull_request_template.md
Due: none

feat(plugins): add initApp plugin to handle document language on page start
  plugins/01.initApp.client.ts
Due: eslint --fix

feat(core): add documentLanguage function to set HTML lang attribute
  core/plugins.ts
Due: eslint --fix

feat(composables): implemented useLocales function for dynamic translations
  composables/useLocales.ts
Due: eslint --fix

feat(locales): added necessary locales
  locales/en.json
  locales/en/navbar.json
  locales/en/navbar_mobile.json
  locales/es.json
  locales/es/navbar.json
  locales/es/navbar_mobile.json
  locales/pt-BR.json
  locales/pt-BR/navbar.json
  locales/pt-BR/navbar_mobile.json
Due: none

feat(styles): added default styling with reset.scss and styling variables
  assets/styles/reset.scss
  assets/styles/variables.css
Due: stylelint --fix

feat(components): created navbar and ui components
  components/layouts/navbar/MainNavbar.vue
  components/layouts/navbar/desktop/NavbarAccount.vue
  components/layouts/navbar/desktop/NavbarIcons.vue
  components/layouts/navbar/desktop/NavbarLinks.vue
  components/layouts/navbar/desktop/NavbarLogo.vue
  components/layouts/navbar/desktop/NavbarMenu.vue
  components/layouts/navbar/desktop/NavbarNotAccount.vue
  components/layouts/navbar/desktop/NavbarNotLinks.vue
  components/layouts/navbar/desktop/NavbarSearchbar.vue
  components/layouts/navbar/mobile/NavbarLinks.vue
  components/ui/ButtonIcon.vue
  components/ui/TheButton.vue
  components/ui/TheTabs.vue
Due: eslint --fix, stylelint --fix

feat(types): added navbar types
  types/navbar.ts
Due: eslint --fix

feat(interfaces): added navbar interface inside a common interfaces file
  interfaces/common.ts
Due: eslint --fix

feat(components): created sidebar with temporary information
  components/layouts/aside/AsideStreamers.vue
  components/layouts/aside/MainAside.vue
  components/ui/TheCard.vue
  components/views/home/StreamersSection.vue
Due: eslint --fix, stylelint --fix

feat(types): added Media type for multimedia files
  types/common.ts
Due: eslint --fix

feat(components): created main navbar
  components/layouts/navbar/MainNavbar.vue
  components/layouts/navbar/desktop/NavbarAccount.vue
  components/layouts/navbar/desktop/NavbarIcons.vue
  components/layouts/navbar/desktop/NavbarLinks.vue
  components/layouts/navbar/desktop/NavbarLogo.vue
  components/layouts/navbar/desktop/NavbarMenu.vue
  components/layouts/navbar/desktop/NavbarNotAccount.vue
  components/layouts/navbar/desktop/NavbarNotLinks.vue
  components/layouts/navbar/desktop/NavbarSearchbar.vue
  components/layouts/navbar/mobile/NavbarLinks.vue
  components/ui/ButtonIcon.vue
  components/ui/TheButton.vue
  components/ui/TheTabs.vue
  interfaces/common.ts
  types/common.ts
  types/navbar.ts
Due: eslint --fix, stylelint --fix

feat(components): created sidebar with temporary information
  components/layouts/aside/AsideStreamers.vue
  components/layouts/aside/MainAside.vue
Due: eslint --fix, stylelint --fix

Update README.md
  README.md
Due: none

Path conditions:
  eslint --fix: any of: **/*.{ts,js,vue}
  stylelint --fix: any of: **/*.{vue,css,scss}
